#titol{
    padding-top: 40px;
    text-align: center;
    color: white;
}
#header{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Veil_Nebula_-_NGC6960.jpg/1200px-Veil_Nebula_-_NGC6960.jpg");
    height: 150px;
    background-position: center center;
    text-align: center;
}